﻿<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Tên thể loại</th>
				<th>Ngày tạo</th>
				<th>Nhà cung cấp</th>
				<th>Chức năng</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in ViewBag.TheLoai)
			{
				<tr>
					<td width="25%">@item.Name</td>
					<td width="25%">@String.Format("{0:dd/MM/yyyy}", item.DateCreated)</td>
					<td width="25">@item.Suppliers</td>
					<td width="25%">
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Details</a>
						|<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a asp-controller="TheLoai" asp-action="Create" class="btn btn-primary">Thêm mới</a>
</div>