@model BaiKiemTra03_03_x_.Models.HopDong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HopDong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContracName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContracName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SigningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SigningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerNavigation.CustomerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ContracId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
